.root {
  position: fixed;
  bottom: 0;
  inset-inline: 0;
  padding-bottom: 8px;
}

@media (min-width: 640px) {
  .root {
    padding-bottom: 20px;
  }
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 8px;
}

@media (min-width: 640px) {
  .container {
    padding-inline: 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 32px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(219, 39, 119);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (min-width: 640px) {
  .content {
    padding: 12px;
  }
}

.mainContent {
  flex-basis: 0;
  flex: 1;
  display: flex;
  align-items: center;
}

.iconWrapper {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(157, 23, 77);
}

.icon {
  width: 24px;
  height: 24px;
  color: white;
}

.contentText {
  margin-left: 12px;
  font-weight: 500;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.longTitle {
  display: none;
}

@media (min-width: 768px) {
  .shortTitle {
    display: none;
  }

  .longTitle {
    display: inline;
  }
}

.learnMore {
  order: 3;
  width: 100%;
  margin-top: 8px;
  flex-shrink: 0;
}

@media (min-width: 640px) {
  .learnMore {
    order: 2;
    margin-top: 0;
    width: auto;
  }
}

.learnMoreBtn {
  width: 100%;
}

.dismissSection {
  order: 2;
  flex-shrink: 0;
}

@media (min-width: 640px) {
  .dismissSection {
    order: 3;
    margin-left: 8px;
  }
}

.dismissBtn {
  padding: 8px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
